/*row styles the image in the background of the header */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(/images/pexels-artem-podrez-4816757.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

/*col-1 styles the text on the picture changing colour, size, and text alignments */
.col-1 {
    flex-basis: 60%;
    min-width: 300px;
    position: relative;
    text-align: center;
}

.col-1 h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
    color: rgb(196, 196, 196);
}

.col-1 p {
    color: #c7c7c7;
}



/*Styles the Categories section spacing them */
.categories {
    margin: 50px 0;
}

.categories h3 {
    margin-top: 10px;
}

/* Spaces the images out equally */
.row_categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    max-width: 1000px;
}

.row_categories .category_column {
    text-align: center;
}

.category_column {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.category_column img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.category_column img:hover {
    width: 100%;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(165, 165, 165);
    cursor: pointer;
}

/*Featured product section css */

.categories h2 {
    text-align: center;
    padding-bottom: 20px;
}

.row_featured_products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    max-width: 1000px;
}

.row_featured_products img {
    width: 100%;
    display: block;
}

.row_featured_products .featured_products {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_featured_products h4 {
    text-align: center;
    margin-top: 10px;
}