.aboutusbody{
    height:1150px;
    width:100%;
    padding-inline: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.aboutusbody > img{
    width:300px;
}

.aboutusbody > p {
    margin-bottom: 10px;
    width:100%;
    text-align: justify;
    text-justify: inter-word;
}

.contactusform{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.contactusform > textarea {
    width:100%;
    text-align: center;
}

.contactusform>input {
    width: 300px;
    align-items: center;
    margin-left: 32%;
}

::placeholder {
    text-align: center;
}

h2 {
    color: #7827e6;
}