body {
    font-family: 'Poppins', sans-serif;
}

label { 
    font-weight: bold;
}

.admin-container {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 30px;
}

.form-group {
    margin-top: 15px;
    width: 100%;
}

.form-group > label{
    margin-bottom: 15px;
}

input{
    width: 100%;
    height: 15px;
    margin-bottom: 15px;
}