body, p {
    margin:0px;
    font-family: 'Poppins';


}


.smalltxt{
    font-size:9px;
}

.mediumtxt{
    font-size: 12px;
}

.largetxt{
    font-size:32px;
}

#product_page_header{
    width:100%;
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* #header_image_textbox
{
    height:40%;
    width:100%;
    border-style: solid;
    border-color:black;
    border: 4px;
    opacity: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#product_page_container > .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#product_page_container > .centered > p, h1{
    margin-block:15px;
}

#product_page_container {
    position: relative;
    text-align: center;
    color: white;
    height:100%;
    width:80%;
}

#product_page_container > .skateboardpic
{
    width:100%;
    height:100%;
    object-fit: cover;
}



#product_page_interface
{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}



#product_page_interface_header
{
    width:100%;
    height:30px;

}

#product_page_interface_list
{
    width:100%;
    height:90%;
}

#product_page_interface_footer
{
    width:100%;
    height:60px;

    display:flex;
    justify-content: center;
    align-items: center;
}


.shop_page
{
    color:black
    
}

#product_page_interface_list
{
    display:grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    overflow: visible;
    width:100%;
    height:100%;
}

.product{
    background-color: red;
    width:100%;
    height:200px;
}

#product_page_interface_body
{
    width:80%;
    height:100%;
}

.searchsize{
    height:80%;
    width:200px;
}

