#login_body{
    width:100vw;
    height:70vh;
    display:flex;
}
#login_background_image{
    width:50%;
    height:100%;
    object-fit: cover;
}
#login_form_container{
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
}
.checkbox{
display:flex;
justify-content:center;
}

.login{
    width:50%;
}