.body{
    width:100vw;
    height:90vh;
    display:flex;
}
.imagecontainer{
    width:50%;
    height:100%;

    object-fit: cover;
}
.container{
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
}
.checkbox{
display:flex;
justify-content:center;
}

.login{
    width:50%;
}