.homeLink {
    color: white;
    text-decoration: none;
}

.homeLink:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(/images/pexels-artem-podrez-4816757.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

/* col-1 styles the text on the picture changing colour, size, and text alignments */
.col-1 {
    flex-basis: 60%;
    min-width: 300px;
    position: relative;
    text-align: center;
}

.col-1 h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
    color: white;
}

.col-1 p {
    color: white;
}


#product_page_interface {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}


#filter_dropdown {
    height: auto;
    margin-left: 68%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#filter_dropdown label {
    margin-right: 10px;
    font-size: 15px;
}

#filter_dropdown select {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 500px;
    border: 1px solid #ccc;
    font-size: 15px;
}

#filter_dropdown button {
    padding: 5px 15px;
    border-radius: 500px;
    border: none;
    background-color: #15883e;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#filter_dropdown button:hover {
    background-color: #1db954;
}


#product_page_interface_list {
    width: 100%;
    height: 90%;
}

#product_page_interface_footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shop_page {
    color: black
}

#product_page_interface_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
}

.product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product {
    background-color: rgba(181, 181, 181, 0.167);
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.product:hover {
    box-shadow: 0 8px 16px rgba(165, 165, 165, 0.32);
    cursor: pointer;
}

.product img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.label-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.label-container div {
    background-color: #ffcc00;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.add-basket {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 20px;
    border: 1px solid transparent;
    background-color: #15883e;
    color: white;
    border-radius: 500px;
    cursor: pointer;
    min-width: 160px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product:hover .label-container div {
    opacity: 1;
}

.product:hover .add-basket {
    opacity: 1;
}

.add-basket:hover {
    background-color: #1db954;
}

.product_details {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}


.product_details h3,
.product_details p {
    margin: 0;
}

#product_page_interface_body {
    width: 80%;
    height: 100%;
}

/* .searchsize {
    height: 80%;
    width: 200px;
} */