

 .homeLink {
    color: white;
    text-decoration: none;
 }

 .homeLink:hover{
    text-decoration: underline;
 }

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(/images/pexels-artem-podrez-4816757.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

/* col-1 styles the text on the picture changing colour, size, and text alignments */
.col-1 {
    flex-basis: 60%;
    min-width: 300px;
    position: relative;
    text-align: center;
}

.col-1 h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
    color: white;
}

.col-1 p {
    color: white;
}


 #product_page_interface {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }



 #product_page_interface_header {
     width: 100%;
     height: 30px;

 }

 #product_page_interface_list {
     width: 100%;
     height: 90%;
 }

 #product_page_interface_footer {
     width: 100%;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .shop_page {
     color: black
 }

 #product_page_interface_list {
     display: grid;

     grid-template-columns: 33.33% 33.33% 33.33%;
     grid-template-rows: 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px;
     overflow: visible;
     width: 100%;
     height: 100%;
 }

 .product-container {
     position: relative;
     display: inline-block;
     margin: 10px;
 }

 .product {
     background-color: rgba(181, 181, 181, 0.167);
     width: 100%;
     height: 200px;
     padding: 20px;
     border: 1px solid #ddd;
     border-radius: 6px;
     box-sizing: border-box;
 }

 .product:hover {
     box-shadow: 0 8px 16px rgba(165, 165, 165, 0.32);
     cursor: pointer;
 }

 .product img {
     width: 100%;
     height: 100%;
     border-radius: 4px;
 }

 .product_details {
     position: absolute;
     bottom: -10px;
     left: 50%;
     transform: translateX(-50%);
     width: 80%;
     text-align: center;
     z-index: 1;
 }

 .product_details h3,
 .product_details p {
     margin: 0;
 }

 .product .label-container {
     position: absolute;
     top: 10px;
     right: 10px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     opacity: 0;
     transition: opacity 0.3s ease-in-out;
 }

 .product:hover .label-container {
     opacity: 1;
 }

 .product .label-container .new-label,
 .product .label-container .discount-label {
     background-color: #ffcc00;
     color: #000;
     padding: 5px 10px;
     border-radius: 4px;
     margin-bottom: 5px;
     font-weight: bold;
 }


 #product_page_interface_body {
     width: 80%;
     height: 100%;
 }

 /* .searchsize {
    height: 80%;
    width: 200px;
} */