.usermenu{
    height:500px;
    width:100vw;
    padding:25px;
    display:flex;
    justify-content: space-around;
}

.userdetails{
    width:35%;
    height:55%;
    border-style: solid;
    padding:10px;
    border-radius: 20px;
}

.userproducts
{
        width:45%;
        height:100%;
        border-style: solid;
        padding:10px;
        border-radius: 20px; 
        display:flex;
        flex-direction: column;
}

.pastorderlist{
    height:90%;
    overflow:auto;
}

.pastorder{
    height:35%;
background-color: red;
}

.userbuttons{
    width:100%;
    margin-top: 50px;
    height:50px;

}